@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
/* Breakpoints */
/* Шрифт */
/* ЦВЕТА */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.modal.active {
  display: flex;
  opacity: 1;
  -webkit-animation: modal-show 0.5s;
          animation: modal-show 0.5s;
}
.modal__content {
  position: relative;
  max-height: 500px;
  width: 500px;
  padding: 30px;
  margin: 0 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.modal__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.modal__input {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid #070707;
  resize: none;
}
.modal__btn {
  display: block;
  margin: 0 auto;
}
.modal__close {
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 19px;
  background-color: transparent;
  border: none;
}
.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transition: all 0.2s linear;
}
.modal__close::before {
  background-color: #828282;
  transform: rotate(45deg);
}
.modal__close::after {
  background-color: #828282;
  transform: rotate(-45deg);
}
.modal__close:hover::after, .modal__close:hover::before {
  background-color: #070707;
}

@-webkit-keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  height: 100%;
}
.wrapper.lock {
  overflow: hidden;
}

.container {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0 30px;
}

.menu {
  padding: 30px 0 36px;
  transition: transform 0.3s linear;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  transition: color 0.2s linear;
}
.menu__link.active {
  color: #070707;
}
.menu__link:hover {
  color: #070707;
}
@media (max-width: 767px) {
  .menu {
    padding: 25px 0 30px;
  }
}
@media (max-width: 575px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #ffffff;
    transform: translateX(-150%);
    overflow: auto;
    -ms-overflow-y: auto;
    transition: transform 0.3s linear;
  }
  .menu.active {
    transition: transform 0.3s linear;
    transform: translateX(0);
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__item {
    margin-bottom: 65px;
  }
  .menu__link {
    font-size: 34px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #070707;
}
.section-text {
  max-width: 485px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.menu-burger {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 33px;
  height: 19px;
  background-color: transparent;
  border: none;
}
.menu-burger::before, .menu-burger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000000;
  transition: transform 0.2s linear;
}
.menu-burger::after {
  top: auto;
  bottom: 0;
}
.menu-burger__line {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000000;
}
@media (max-width: 575px) {
  .menu-burger {
    position: fixed;
    display: block;
  }
  .menu-burger.active .menu-burger__line {
    display: none;
  }
  .menu-burger.active::before {
    background-color: #828282;
    transition: transform 0.2s linear;
    transform: translateY(7px) rotate(45deg);
  }
  .menu-burger.active::after {
    background-color: #828282;
    transition: transform 0.2s linear;
    transform: translateY(-8px) rotate(-45deg);
  }
}

.header {
  /*position: sticky;
  top: 0;
  z-index: 999;
  background-color: $color-white;*/
}
.header__inner {
  border-bottom: 1px solid #828282;
}
@media (max-width: 575px) {
  .header__inner {
    border: none;
  }
}

.hero {
  padding: 31px 0 104px;
}
.hero__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
}
.hero__title {
  margin-bottom: -10px;
  font-weight: 700;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}
.hero__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
.hero__lang {
  transform-origin: bottom right;
  transform: translateY(-67px) rotate(-90deg);
}
.hero__lang-btn {
  font-weight: 700;
  font-size: 16px;
  color: #828282;
  transition: color 0.2s linear;
}
.hero__lang-btn.active {
  color: #070707;
}
.hero__lang-btn:hover {
  color: #070707;
}
.hero__img {
  max-width: 100%;
  padding: 0 0 48% 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hero {
    padding-bottom: 90px;
  }
  .hero__top {
    margin-bottom: 42px;
  }
}
@media (max-width: 575px) {
  .hero {
    padding-bottom: 83px;
  }
  .hero__top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
  }
  .hero__title {
    margin-bottom: 23px;
  }
  .hero__lang {
    display: none;
  }
}

.about {
  padding: 117px 0 110px;
  background-color: #f6f6f6;
}
.about__title {
  margin-bottom: 27px;
}
.about__text {
  max-width: 485px;
}
.about__text:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .about {
    padding: 99px 0 95px;
  }
}
@media (max-width: 575px) {
  .about {
    padding: 81px 0 76px;
  }
  .about__title {
    margin-bottom: 29px;
  }
}

.skills {
  padding: 89px 0 112px;
}
.skills .container {
  max-width: 1120px;
}
.skills__title {
  margin-bottom: 61px;
}
.skills__text {
  margin-bottom: 89px;
}
.skills__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}
.skills__item {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .skills {
    padding: 85px 0 10px;
  }
  .skills__top {
    margin-bottom: 42px;
  }
  .skills__item {
    flex-basis: 50%;
  }
}
@media (max-width: 575px) {
  .skills__item {
    flex-basis: 100%;
  }
}

.item-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.item-skills__img {
  max-width: 89px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-skills__img img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.item-skills__title {
  margin: 0 auto 35px;
  flex-grow: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.item-skills__rating img {
  width: 26px;
  height: 26px;
}
.item-skills__rating img:not(:last-child) {
  margin-right: 5px;
}

.portfolio {
  padding: 111px 0 104px;
  text-align: center;
  background-color: #f6f6f6;
}
.portfolio__title {
  margin-bottom: 58px;
}
.portfolio__item:not(:last-child) {
  margin-bottom: 99px;
}
.portfolio__img {
  max-width: 100%;
  padding-bottom: 50%;
  margin-bottom: 44px;
}
.portfolio__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #070707;
}
@media (max-width: 767px) {
  .portfolio {
    padding: 100px 0 90px;
  }
  .portfolio__img {
    margin-bottom: 35px;
  }
}
@media (max-width: 575px) {
  .portfolio {
    padding: 81px 0 80px;
  }
  .portfolio__img {
    margin-bottom: 35px;
  }
}

.footer {
  padding: 110px 0 123px;
  text-align: center;
}
.footer__title {
  margin-bottom: 26px;
}
.footer__text {
  margin-bottom: 34px;
}
.footer__btn {
  margin-bottom: 85px;
}
.footer__socials {
  margin-bottom: 43px;
}
.footer__text-small {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
@media (max-width: 767px) {
  .footer {
    padding: 95px 0 102px;
  }
  .footer__btn {
    margin-bottom: 75px;
  }
}
@media (max-width: 575px) {
  .footer {
    padding: 82px 0 90px;
  }
  .footer__btn {
    width: 100%;
    margin-bottom: 75px;
  }
}

.btn {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background: #070707;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: #ffffff;
  color: #070707;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 342px;
  margin: 0 auto 45px;
}